<section>
  <div *ngIf="leagueData" class="table">
    <h2 class="table-title">Current Standings</h2>

    @if (!isLive) { @for (league of leagueData.teams; track $index) {
    <ul>
      <li class="table-entry">
        <div class="table-entry-left">
          <div>
            <div class="table-team-position">{{ league.rank }}</div>
          </div>
          <div>
            <div class="table-team-name">{{ league.teamName }}</div>
            <div class="table-player-name">{{ league.managerName }}</div>
          </div>
        </div>
        <div class="table-right">
          <div class="table-week-points">{{ league.gameweekPoints }}</div>

          <div class="table-total-points">{{ league.totalPoints }}</div>
        </div>
      </li>
    </ul>
    } } @else { @for (league of leagueData.teams; track $index) {
    <ul>
      <li class="table-entry">
        <div class="table-entry-left">
          <div>
            <div class="table-team-position">{{ league.rank }}</div>
          </div>
          <div>
            <div class="table-team-name">{{ league.teamName }}</div>
            <div class="table-player-name">{{ league.managerName }}</div>
          </div>
        </div>
        <div class="table-right">
          <div class="table-week-points live-points">{{ liveScores[league.id] }}</div>

          <div class="table-total-points live-points">{{ liveScores[league.id] + league.totalPoints }}</div>
        </div>
      </li>
    </ul>
    } }
  </div>
</section>
