<section>
  <div *ngIf="leagueData" class="table">
    <div class="table-title flex-between">
      <h2>Current Standings</h2>
      @if (isLive) {
      <div class="live-points">Live</div>
      }
    </div>
    @if (!isLive) { @for (league of leagueData.teams; track $index) {
    <ul>
      <li class="table-entry" (click)="display(league.id)">
        <div class="table-entry-left">
          <div>
            <div class="table-team-position">{{ league.rank }}</div>
          </div>
          <div>
            <div class="table-team-name">{{ league.name }}</div>
            <div class="table-player-name">{{ league.managerName }}</div>
          </div>
        </div>
        <div class="table-right">
          <div class="table-week-points">{{ league.gameweekPoints }}</div>

          <div class="table-total-points">{{ league.totalPoints }}</div>
        </div>
      </li>
    </ul>
    } } @else { @for (league of leagueData.teams; track $index) {
    <ul>
      <li class="table-entry" (click)="display(league.id)">
        <div class="table-entry-left">
          <div>
            <div class="table-team-position">{{ league.rank }}</div>
          </div>
          <div>
            <div class="table-team-name">{{ league.name }}</div>
            <div class="table-player-name">{{ league.managerName }}</div>
          </div>
        </div>
        <div class="table-right">
          <div class="table-week-points live-points">{{ liveScores[league.id] }}</div>

          <div class="table-total-points live-points">{{ liveScores[league.id] + league.totalPoints }}</div>
        </div>
      </li>
    </ul>
    } }
  </div>

  <team-overlay
    [displayOverlay]="displayOverlay"
    [overlayData]="overlayData"
    (closeOverlay)="closeOverlay()"
  ></team-overlay>
</section>
