.input-search {
    color: var(--text-color);
    background-color: var(--darker-background);
    width: 25rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: none;
    font-size: 1.2rem;
    box-shadow: 0 0 10px var(--accent-primary);
}

.input-search:focus {
    outline: none;
    border-bottom: 1px solid var(--accent-primary);
}

.input-button {
    background-color: var(--darker-background);
    border: 2px solid var(--accent-primary);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    /* border: none; */
    border-radius: var(--border-radius);
    font-size: 1.2rem;
    cursor: pointer;

    transition: background-color 0.25s;
}

.input-button:hover {
    background-color: var(--accent-primary);
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#search input {
    margin-right: 1rem;
}

/** 
* Search Result Styles
*/

.profile {
    width: 25rem;
    margin-top: 2rem;
    background-color: var(--darker-background);
    border-radius: var(--border-radius-round);
    border: 2px solid var(--accent-primary);
    padding: 1rem;
    cursor: pointer;

    transition: background-color 0.25s;
}

.profile:hover {
    background-color: var(--light-background);
}


.profile-left {
    display: flex;
    align-items: center;
}

.icon-hint {
    fill: var(--accent-primary);
    margin-right: 1rem;
}

.league-title {
    padding: 1rem;
    margin-bottom: 1rem;
}

.leagues {
    width: 25rem;
    border-radius: var(--border-radius);
}

.league-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.league-item {
    /* background: linear-gradient(90deg, var(--accent-primary), var(--accent-secondary)); */
    background-color: var(--darker-background);
    padding: 1rem;
    border-radius: var(--border-radius);
    border: 2px solid var(--accent-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background-color 0.25s;
}

.league-item:hover {
    background-color: var(--light-background);
}

.league-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--grey-text-color);
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 768px) {
    #search {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    #search input {
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

    .input-search {
        height: 2.5rem;
        width: 80%;
    }

    .profile {
        width: 80%;
    }

    .leagues {
        width: 80%;
    }
}