.placeholder {
    background-color: var(--darker-background);

    padding: 1rem;
}

#row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#fixtures {
    margin-right: 1rem;
    flex-grow: 1;
}

#row-2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#row-2>div:first-child {
    margin-right: 1rem;
    flex-grow: 1;
    height: 50vh;
}

.content {
    border-radius: var(--border-radius);
    border: 2px solid var(--accent-secondary);

    box-shadow: 0 0px 8px var(--black);
}

@media screen and (min-width: 1200px) {
    main {
        padding: 2rem 20vw;
    }
}

@media screen and (max-width: 700px) {
    #row-1 {
        flex-direction: column;
    }

    #fixtures {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}