/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --translucent-background: rgba(35, 35, 35, 0.5);
    --light-background: rgb(60, 60, 60);
    --background: rgb(35, 35, 35);
    --darker-background: rgb(20, 20, 20);
    --black: rgb(5, 5, 5);

    --text-color: white;
    --grey-text-color: rgb(150, 150, 150);

    --accent-primary: rgb(212, 138, 255);
    --accent-secondary: rgb(94, 96, 192);

    --positive: rgb(22, 189, 255);
    --negative: rgb(255, 97, 123);

    --warning: rgb(255, 255, 0);

    --border-radius: 5px;
    --border-radius-round: 30px;

    --nav-height: 4rem;


    background-color: var(--background);
    color: var(--text-color);
    font-family: "Noto Sans", sans-serif;

    /* Custom scrollbar styles */
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: var(--background);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--darker-background);
        border-radius: var(--border-radius);
        border: 2px solid var(--background);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--accent-secondary);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --translucent-background: rgba(255, 255, 255, 0.5);
        --light-background: rgb(175, 175, 175);
        --background: rgb(172, 172, 172);
        --darker-background: rgb(255, 255, 255);
        --black: rgb(255, 255, 255);

        --text-color: rgb(0, 0, 0);
        --grey-text-color: rgb(63, 63, 63);

        --accent-primary: rgb(181, 52, 255);
        --accent-secondary: rgb(94, 96, 192);

        --warning: rgb(255, 136, 0);
    }
}

body {
    padding-top: var(--nav-height);
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: var(--text-color);
    text-decoration: none;
}

.list {
    list-style: none;
}

.break {
    height: 1rem;
}

.large-break {
    height: 5rem;
}

.clickable {
    cursor: pointer;
}

.grey {
    color: var(--grey-text-color);
}