.display-options {
    height: calc(100vh - var(--nav-height));
    background-color: var(--background);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-options {
    background-color: var(--darker-background);
    padding: 2rem;
    border-radius: var(--border-radius);

}

.league-title {
    padding-bottom: 1rem;
    font-size: 1.2rem;
}


main {
    padding: 2rem;
}

.league-option {
    background-color: var(--black);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.league-members {
    color: var(--grey-text-color);
}

.table {
    max-width: 50vw;
    margin: 0rem;
    padding: 1rem;
    background-color: var(--darker-background);
    border-radius: var(--border-radius);
}

.table-title {
    padding-bottom: 1rem;
}

.table-entry {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
}

.table-player-name {
    color: var(--grey-text-color);
}

.table-entry-left {
    display: flex;
    align-items: center;
}

.table-team-position {
    margin-right: 1rem;
    /* border: 2px solid var(--text-color); */
    background-color: var(--text-color);
    color: var(--darker-background);
    font-weight: bold;
    border-radius: 50%;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    main {
        padding: 0.5rem;
    }

    .table {
        max-width: 100%;
    }
}