.content {
    background-color: var(--darker-background);
    border-radius: var(--border-radius);
}


.placeholder {
    background-color: var(--darker-background);
    border-radius: var(--border-radius);
    padding: 1rem;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    #main {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    #main {
        grid-template-columns: 100vw;
    }

    .modal-options {
        width: 80vw;
    }
}