<choose-league
  [display]="displayOptions"
  [leagues]="teamData?.leagues"
  (selectedLeagueId)="leagueSelected($event)"
></choose-league>

<main id="main">
  @if (leagueData) {
  <div class="title placeholder">{{ leagueData.league.name }}</div>
  } @else {
  <div class="placeholder">No League Selected</div>
  }
  <div id="row-1">
    <standings id="standings" class="content" [leagueData]="leagueData"></standings>
    <div class="placeholder content">Placeholder</div>
  </div>
  <div id="row-2">
    <league-history id="history" [league]="leagueHistory" class="content"></league-history>
    <div class="placeholder content">Placeholder</div>
  </div>
  <div class="break"></div>
</main>
