section {
    padding: 1rem;
}

.player-row {
    display: flex;
    justify-content: center;
}

.goalkeeper {
    background-color: #f0f0f0;
}

.defender {
    background-color: #f0f0f0;
}

.midfielder {
    background-color: #f0f0f0;
}

.forward {
    background-color: #f0f0f0;
}

@media screen and (max-width: 700px) {
    section {
        padding: 0;
    }

    h2 {
        margin-left: 1rem;
    }
}