.fixture-component {
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0.5rem;

    background-color: var(--darker-background);
    border-radius: var(--border-radius);
}

.fixture-entry {
    display: flex;
    margin-top: 10px;
    margin-right: 1rem;
}

.title {
    /* margin-right: 1rem; */
    min-width: 10rem;
    text-wrap: nowrap;
}

.opponents {
    display: flex;
}

.opponent {
    padding: 0.5rem;
    font-size: 0.6rem;
    text-wrap: nowrap;
}

.fixture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.o-g {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: green;
}

.o-r {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: red;
}

.fixtures-chart {
    height: 50vh;
    background-color: var(--darker-background);
    padding: 1rem;
    border-radius: var(--border-radius);
    max-width: 50vw;
}

.chart-title {
    border-bottom: 2px solid grey;
    padding-bottom: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-container {
    height: calc(100% - 1.5rem);
}

.chart-legend {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.chart-legend>svg {
    width: 1rem;
    margin: 0 0.2rem;
}

@media screen and (max-width: 700px) {
    .fixtures-chart {
        max-width: 100%
    }
}